body {
	text-align: center;
	margin:0;
	padding: 0;
	border:0;
	color:#000;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	background:#ededed url(/img/subbg.png) top center repeat-x;
}
p, td, div, th {
	font-size: 12px;
}
img {
	border:0;
}
a:link, a:visited{
	color: #1174bc;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
#hl {
	background:#003d7d;
	text-align: center;
	padding: 15px 0px;
}
#hli {
	margin-left: auto;
	margin-right: auto;
	width: 998px;
	text-align: center;
}
h1{
	font-size:24px;
}
h2{
	font-size: 18px;
	border-bottom:dotted 1px #aaa;
}
h3{
	font-size: 16px;
	color: #4572a7;
	margin-bottom: 5px;
	margin-top: 25px;
	padding: 3px 2px;
}
h4{
	font-size: 15px;
	margin-bottom: 5px;
}
.subHead{
	font-size:14px;
	font-weight:bold;
	margin-top:-12px;
	padding-bottom:5px;
}
#h {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	width: 998px;
	height: 75px;
	background:#fff;
	margin-top:3px;
	border-radius:8px 8px 0 0px;
	border-top:solid 1px #c0c0c0;
	border-left:solid 1px #c0c0c0;
	border-right:solid 1px #c0c0c0;
}

#hinlogo{
	padding-top:16px;
	padding-left:12px;
	width: 200px;
	float: left;
}
#fo {
	background:#003d7d;
	text-align: center;
}
#ftop{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	width: 998px;
	background:#fff;
	border-radius:0px 0px 8px 8px;
	border-bottom:solid 1px #c0c0c0;
	border-left:solid 1px #c0c0c0;
	border-right:solid 1px #c0c0c0;
}
#f {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	color:#e5e5e5;
	font-size:13px;
	text-align:left;
	padding-top:15px;
}
#f a {
	color:#e5e5e5;
	margin:0px 5px 0px 5px;
}
.fleft{
	width:430px;
	float:left;
	margin-left:38px;
}
.fmenu{
	width:460px;
	height:auto;
	float:right;
}

.fs {
	font-size: 11px;
}
#mo {
	margin-left: auto;
	margin-right: auto;
	width: 998px;
	border-left:solid 1px #c0c0c0;
	border-right:solid 1px #c0c0c0;
	text-align: left;
	background:#fff;
}
#m {
	margin-left: auto;
	margin-right: auto;
	padding-top:5px;
	width: 970px;
	text-align: left;
}
#clear{
	margin-left: auto;
	margin-right: auto;
	clear: both;
	height: 15px;
}
#menu {
	float: left;
	width:200px;
	padding-top:11px;
	background:#fff;
}
#content {
	float: right;
	width:750px;
	background:#fff;
}
#content a:link, #content a:visited{
	color: #1174bc;
	text-decoration: underline;
}
#content a:hover {
	text-decoration: none;
}
#hmenu {
	float: right;
	width:300px;
}
#hcontent {
	float: left;
	width:650px;
	background:#fff;
}
#hcontentright {
	float: right;
	width:450px;
}
#hcontentleft {
	float: left;
	width:180px;
}
.panel{
	border-radius:3px;
	border: 1px solid #4fa4c3;
	background: #deedf2;
	padding: 5px;
}
.hotranks div{
	width:300px;
	padding-top:6px;
	padding-left:5px;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.small{
	font-size: 10px;
}
.big{
	font-size: 14px;
}
.whitelink{
	color: #ffffff;
}
.whitelink a:link, .whitelink a:visited{
	color:#ffffff;
	text-decoration: underline;
}
.whitelink a:hover{
	text-decoration: none;
}

.txtinput{
	border: 10px solid #fff;
}
.grayborder{
	border: 1px solid #ddd;
}
.hhd{
	font-size: 15px;
	background: #1d5895;
	padding: 4px;
	color: #ffffff;
	font-weight:bold;
	border:solid 1px #003d7d;
	margin-bottom: 8px;
}
#hotranking{
	min-width: 180px;
	font-size: 13px;
	padding: 7px 3px;
	font-weight:bold;
	color: #003d7d;
	background: #EAEAEA;
	text-align: left;
	border-bottom: solid 1px #c6c6c6;
	background-image: -ms-linear-gradient(top, #F8F8F8 0%, #EAEAEA 100%);
	background-image: -moz-linear-gradient(top, #F8F8F8 0%, #EAEAEA 100%);
	background-image: -o-linear-gradient(top, #F8F8F8 0%, #EAEAEA 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F8F8F8), color-stop(1, #EAEAEA));
	background-image: -webkit-linear-gradient(top, #F8F8F8 0%, #EAEAEA 100%);
	background-image: linear-gradient(to bottom, #F8F8F8 0%, #EAEAEA 100%);
	border-radius:6px 6px 0 0px;
}

#hotrankingc{
	border: solid 1px #EAEAEA;
	border-radius:0px 0px 6px 6px;
	padding: 3px 2px;;
	min-width: 180px;
	background: #fff;
	font-size: 11px;
}
#hotrankingc div{
	font-size: 11px;
	margin:1px 0px;
	padding-left:2px;
	padding-top:3px;
}
#hotrankingc a:link, #hotrankingc a:visited{
	text-decoration: underline;
}
#hotrankingc a:hover {
	text-decoration: none;
}
#hotrankingl{
	background: #1d5895;
	height: 1px;
}

#search{
	display: block;
	width: 110px;
	height: 38px;
	background: url("/img/search.png") no-repeat 0 0;
}
#search:hover{ 
	background-position: 0 -38px;
}
#search span{
	position: absolute;
	top: -999em;
}
.mh{
	font-family:Helvetica,Arial;
	font-weight:bold;
	font-size:15px;
	display: block;
	background-color: #ededed;
	border-bottom:solid 1px #ece4e4;
	border-left:solid 1px #ece4e4;
}
.mh a{
	text-decoration:none;
	display: block;
	padding: 7px 0 7px 6px;
	background-color: #ededed;
}
.mh a:hover{
	background-color: #9dc6da;
	text-decoration:none;
}
.mhon{
	font-family:Helvetica,Arial;
	font-weight:bold;
	font-size:15px;
	display: block;
	background-color: #003d7d;
	color:#fff;
	border-bottom:solid 1px #ece4e4;
	border-left:solid 1px #003d7d;
	padding: 3px 0 7px 6px;
}

.mb{
	border-bottom:solid 1px #ece4e4;
	background-color: #fff;
}
.mb a{
	text-decoration:none;
	display: block;
	padding: 5px 5px 5px 15px;
	border-left:solid 1px #ece4e4;
}
.mb a:hover{
	background-color: #ededed;
	border-left:solid 1px #ece4e4;
	text-decoration:none;
}
.mbon{
	border-bottom:solid 1px #ece4e4;
	background-color: #fee0e0;
	font-weight:bold;
	display: block;
	padding: 5px 5px 5px 15px;
	background-image:url('/img/nav.png');
	background-position:-300px -33px;
}
#mtop{
	background-image:url('/img/nav.png');
	background-position:-300px 0px;
	padding-top:6px;
}
#mbottom{
	background-image:url('/img/nav.png');
	background-position:-300px -13px;
	padding-top:11px;
}
#mout{
	background-image:url('/img/nav.png');
}
#minner{
	width:195px;
}
#rList1 a{
	width:187px;
	display: inline-block;
}
#rList2 u{
	width:187px;
	display: inline-block;
	text-decoration: none;
}
#rList3 u{
	width:247px;
	display: inline-block;
	text-decoration: none;
}
#rList4 u{
	width:125px;
	display: inline-block;
	text-decoration: none;
}
#rList5 u{
	width:465px;
	display: inline-block;
	text-decoration: none;
}

#sb1{
	background: #4572a7;
	float: left;
	height:13px;
	text-align: right;
	color: #fff;
}
#sb2{
	background: #aa4643;
	float: left;
	height:13px;
	text-align: right;
	color: #fff;
}
#sb3{
	background: #89a54e;
	float: left;
	height:13px;
	text-align: right;
	color: #fff;
}
#pt{
	background: #cccccc;
	height:13px;
}
#sn1{
	background: #4572a7;
	float: right;
	height:13px; 
}
#sn2{
	background: #aa4643;
	float: right;
	height:13px; 
}
#sn3{
	background: #89a54e;
	float: right;
	height:13px; 
}
.tbb{
	border:solid 1px #999;
}
.tbb tr:hover {
	background-color: #e7fae7;
}
.tbright td{
	text-align: right;
}
#map_canvas{
	border: 1px solid #aaa;
}

.afcchead{
	padding-bottom: 0px;
}
.afcchead a:link, .afcchead a:visited, .afcchead a:hover{
	color:#888;
	font-size:12px;
	font-family:arial,helvetica,sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}
.afcctit{
	padding-top: 18px;
}
.afcctit a:link, .afcctit a:visited{
	color:#005599;
	font-family:arial,helvetica,sans-serif;
	text-decoration: none;
	font-size:15px;
	font-weight:bold;
}
.afcctit a:hover{
	text-decoration: none;
}
.afccdesc{
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
}
.afccurl{
	padding-top: 0px;
}
.afccurl a:link, .afccurl a:visited{
	color:#888;
	font-family:arial,helvetica,sans-serif;
	text-decoration: none;
	font-size:10px;
}
.afccurl a:hover{
	text-decoration: underline;
}

.afcctitb{
	padding-top: 18px;
}
.afcctitb a:link, .afcctitb a:visited{
	color:#005599;
	font-family:arial,helvetica,sans-serif;
	text-decoration: none;
	font-size:17px;
	font-weight:bold;
}
.afcctitb a:hover{
	text-decoration: none;
}
.afccdescb{
	font-family:arial,helvetica,sans-serif;
	font-size:14px;
}
.afccurlb{
	padding-top: 0px;
}
.afccurlb a:link, .afccurlb a:visited{
	color:#888;
	font-family:arial,helvetica,sans-serif;
	text-decoration: none;
	font-size:14px;
}
.afccurlb a:hover{
	text-decoration: underline;
}

fieldset{
	padding:8px 0px;
	border: solid 0px #fff;
}
legend{
	font-weight: bold;
	color: #003d7d;
	font-size:17px;
}
fieldset a{
	width: 175px;
	display: inline-block;
}

.plb{
	margin: 10px 0 0px 0;
	background: #eaf3f6;
	padding:6px 5px 8px 5px;
	border-bottom: 1px solid #4fa4c3;
	border-top: 1px solid #4fa4c3;
}
.plw{
	margin: 2px 0 2px 0;
	padding:5px 5px 0px 5px;
}
.tlmainbb{
	font-size:14px;
	font-weight:bold;
}
.tlmainb{
	font-weight:bold;
}
.tlsub{
	padding-left:15px;
}
.tlsubb{
	font-weight:bold;
	padding-left:15px;
}
.tlsubsub{
	padding-left:30px;
}
.tlsubsubb{
	font-weight:bold;
	padding-left:30px;
}
#mapwrapper{
	border: solid 1px #eeeeee;
	border-radius:6px;
}
#mapoutput{
	padding: 10px 3px 10px 8px;
	color: #003d7d;
	font-weight:bold;
	font-size: 16px;
	background: #eeeeee;
	border-bottom: solid 1px #c6c6c6;
	background-image: -ms-linear-gradient(top, #F8F8F8 0%, #EAEAEA 100%);
	background-image: -moz-linear-gradient(top, #F8F8F8 0%, #EAEAEA 100%);
	background-image: -o-linear-gradient(top, #F8F8F8 0%, #EAEAEA 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F8F8F8), color-stop(1, #EAEAEA));
	background-image: -webkit-linear-gradient(top, #F8F8F8 0%, #EAEAEA 100%);
	background-image: linear-gradient(to bottom, #F8F8F8 0%, #EAEAEA 100%);
}
#mapfootnote{
	border: solid 1px #bdd2da;
	padding: 3px;
	font-size: 12px;
	text-align: right;
}

.panelpn{
	border: 1px solid #7e0000;
	background: #f4e7e7;
	padding: 4px 5px 4px 5px;
	font-weight:bold;
	text-align:center;
}

.panelpn a:link, .panelpn a:visited{
	text-decoration: none;
}
.panelpn a:hover {
	text-decoration: underline;
}

.topsearch{
	padding-left:70px;
	text-align:left;
	float: left;
}
.topsearchc{
	padding-left:180px;
	text-align:left;
	float: left;
}
.search_div{
	width:375px;
	height:38px;
	float:left;
	background:#eeebeb;
	border-radius:6px;
	border:solid 1px #c0c0c0;
	text-align:center;
}
.search_div table{
	margin:4px 0 0 4px;
	border-radius:4px;
	background:#fff;
}
.search_div table td{
	padding: 0;
}

.search_div td input{
	width:278px;
	height:26px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	font-style:italic;
	border:none;
	padding:0px 0px 0px 3px;
	border-radius:4px;
}
.topsearchhead{
	padding-top:10px;
	font-size:16px;
	color: #003d7d;
	font-weight: bold;
}
.navsearch{
	width:82px;
	height:24px;
	background-image:url('/img/nav-search.png');
}
.addsite{
	float:right;
	padding-top: 13px;
	width:269px;
}
.addsitebtn{
	width:249px;
	height:38px;
	background-image:url('/img/nav-search.png');
	background-position:0px 38px;
}

#tab {float:left;width:100%;font-size: 12px;line-height:normal;margin-bottom:0px;overflow:hidden;border-bottom: solid 3px #b5111b;}
#tab ul {margin:0;padding:0px 10px 0 0px;list-style:none;}
#tab li {display:inline;margin:0;padding:0;}
#tab a {float:left;background:#003d7d;margin-left:3px;padding:5px 10px;text-decoration:none;color: #fff;border-radius:5px 5px 0px 0px;}
#tab a:link, #tab a:visited{color: #fff;text-decoration:none;}
#tab a:hover {background:#b5111b;}
#tab .on {background:#b5111b;}
#tab .on a {float:left;color: #fff;background:#b5111b;margin-left:3px;text-decoration:none;}
#tabexpe{
	clear: both;
	text-align: center;
	background: #b5111b;
	color: #ffffff;
	font-weight: bold;
	padding: 2px 0 5px 0;
}
#tabexpe a, #tabexpe a:link, #tabexpe a:visited{
	color: #fff;
	padding: 0px 5px;
	text-decoration: none;
}
#tabexpe a:hover {
	color: #fff;
	text-decoration: underline;
}
#tabexpo{
	clear: both;
	text-align: right;
	background: #b5111b;
	color: #ffffff;
	font-weight: bold;
	padding: 2px 10px 5px 0;
}
#tabexpo a, #tabexpo a:link, #tabexpo a:visited{
	color: #fff;
	padding: 0px 5px;
	text-decoration: none;
}
#tabexpo a:hover {
	color: #fff;
	text-decoration: underline;
}

.nearby{
	padding-left:5px;
}
.nearbyon{
	padding-left:2px;
	border-left: solid 3px #b5111b;
	font-weight: bold;
}
.nearbygray{
	padding-left:5px;
	color: #aaa;
}
.tyhoutput{
	font-family:Arial;
	font-size: 10pt;
	color:black;
	padding-left: 5px;
	padding-top: 3px;
	padding-right: 2px;
	border: 1px solid #000000;
	background: #fff;
}
.tyhoutput span{
	color:#888;
}
.tyhoutput a, .tyhoutput a:link, .tyhoutput a:visited, .tabexpo a:hover{
	color: #000;
	text-decoration: none;
}
.tyhshadow{
	position:relative;
	top: 2px;
	left: 2px;
	background: #555;
}
.tyhshadow div{
	position:relative;
	top: -2px;
	left: -2px;
}
.refines{border-radius:3px;border: 1px solid #003d7c;margin-top: 5px;padding:1px 1px 5px 1px;}
.refines h3{margin: 0px;color:#fff;background-color: #003d7c;border-radius:3px 3px 0px 0px;border: 1px solid #003d7c;font-size: 14px;}
.dl{list-style-type: none;margin: 0;padding: 0;}
.dl li{padding-top:3px;padding-left:8px;}
.dl li.active{display: block;background-color: #ddd;font-weight:bold;background: url(/img/arrow.gif) no-repeat top left;}
.searchpanel {clear: both;padding:15px;border-radius:5px;border:solid 3px #003d7d;background:#deedf2;}
.biginput{border-radius:3px;border:solid 1px #003d7d;font-size: 14px;height: 28px;padding:2px;}
.optioninput{border-radius:3px;border:solid 1px #003d7d;padding:2px;}